.child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #d9d9d9;
  width: 500px;
  height: 650px;
}

.outBox {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 6px 20px rgba(180, 188, 201, 0.16);
  border-radius: 16px;
  background-color: #fff;
  width: 210.8px;
  height: 111px;
}

.vectorIcon {
  position: absolute;
  height: 16.67%;
  width: 8.73%;
  top: 40.49%;
  right: 84.89%;
  bottom: 42.84%;
  left: 6.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.span {
  font-size: 11px;
}

.div1 {
  position: absolute;
  top: 47.35px;
  left: 38.69px;
  color: #0d0d0d;
  display: inline-block;
  width: 104.1px;
  height: 20.7px;
  font-size: 12px;
}

.div2 {
  position: absolute;
  top: 13.32px;
  left: 13.34px;
  font-size: 16px;
  line-height: 164.5%;
  font-weight: 600;
  display: inline-block;
  width: 170.1px;
  height: 38.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.box1,
.box2 {
  position: absolute;
  border-radius: 16px;
  background-color: #f8f8f8;
  width: 85.4px;
  height: 22.2px;
  cursor: pointer;
}

.box1 {
  top: 79.05px;
  left: 13.34px;
}

.div3 {
  position: absolute;
  top: 82.41px;
  left: 34.68px;
  line-height: 15px;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 41.4px;
  height: 17.8px;
  cursor: pointer;
}

.box2 {
  top: 77.87px;
  left: 112.06px;
}

.div4 {
  position: absolute;
  top: 82.41px;
  left: 128.06px;
  line-height: 15px;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 53.4px;
  height: 17.8px;
  cursor: pointer;
}

.place {
  position: relative;
  width: 210.8px;
  height: 111px;
  flex-shrink: 0;
}

.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 981px;
  text-align: left;
  color: #000;
  font-family: 'Kantumruy Pro';
}

.selectedBox {
  background-color: #27c289 !important;
}